<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FormPageMapper">

  <!-- Legacy SQL map: sampleDAO.ScoreChk -->
  <!-- Query hint: select A.stuno as stuno,B.STUNAME as stuname, To_char(round(avg(score),0)) as avgscore, To_char(Rank() over(order by avg(score) DESC)) as rank, To_char(DENSE_RANK() OVER(order by avg(score) DESC,(select score from sco... -->
  <select id="search" parameterType="FormPageSearchCondition" resultType="FormPageRow">
    <!-- TODO: migrate legacy SQL here -->
    select 1
  </select>
</mapper>
